:root{
  --ifm-color-primary-lightest: #5291C5;
  --ifm-color-primary-lighter: #3E81B8;
  --ifm-color-primary-light: #3B7BB0;
  --ifm-color-primary: #3670A0;
  --ifm-color-primary-dark: #316590;
  --ifm-color-primary-darker: #2E5F88;
  --ifm-color-primary-darkest: #264E70;
}

:root {
  --ifm-color-warning: #eeb64f;
  --ifm-color-danger: #d36737;
  --ifm-color-primary: #3271a1;
}
