/* your custom css */

html p, html li {
  text-align: justify;
}
.buttonOrange {
  border-color: #EEB64F;
  color: #EEB64F;
}
.buttonOrange:hover{ background: #EEB64F; }
.buttonRed {
  border-color: #D2673B;
  color: #D2673B;
}
.buttonRed:hover{ background: #D2673B; }
.buttonBlue {
  border-color: #3670A0;
  color: #3670A0;
}
.buttonBlue:hover{ background: #3670A0; }
.buttonWhiteActive:hover {
  border-color: #fff;
  background: #fff;
  color: black;
}
.buttonWhiteActive{ background: #ddd; color: black;
  border-color: #ddd; }

#searchResult {
  display: block;
  background: white;
  position: fixed;
  right: 1em;
  top: 50px;
  box-shadow: 0px 1px 5px #888888;
  padding-top: 10px;
  min-width: 200px;
  width: 330px;
  max-height: calc(100vh - 90px);
  overflow: auto;
  z-index: 99;
  border-radius: 5px;
}

#searchResult ul hr:first-child {
  display: none;
}

h4.navGroupSubcategoryTitle {
  display: none;
}

.fb_iframe_widget {
  display: none !important;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
	.separateOnPageNav .docsNavContainer {
		flex: 0 0 255px !important;
	}

  .fb_iframe_widget {
    display: inline-block !important;
  }
}

@media only screen and (max-width: 1023px) {

  #searchResult {
    top: 96px;
  }

}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
