
    <!doctype html><html lang="en"><head><meta charset="utf-8"><title>{{ page.title }}</title></head>
    <body>
    {% include style.html %}
      <div id="left">
      <ul>
      <li><h3><a href="/">Home</a></h3></li>
      <li><h3><a href="/discussions/">Discussions</a></h3></li>
<li>
<h3>
<a href="/wiki/Overview">Introduction</a>
</h3>
</li>
<li>
<h3>
<a href="/wiki/NewVersionChanges">Changes from 1.6.1 to 1.7</a>
</h3>
</li>
<li>
<h3>
<a href="/wiki/PlatformDocumentation">Platform</a>
</h3>
</li>
<ul>
<li>
<a href="/wiki/InstallationAndLaunching">Installation and Launching</a>
</li>
<ul>
<li>
<a href="/wiki/Installation">Installation</a>
</li>
<li>
<a href="/wiki/Launching">Launching GAMA</a>
</li>
<li>
<a href="/wiki/Headless">Headless Mode</a>
</li>
<li>
<a href="/wiki/Updating">Updating GAMA</a>
</li>
<li>
<a href="/wiki/InstallingPlugins">Installing Plugins</a>
</li>
<li>
<a href="/wiki/Troubleshooting">Troubleshooting</a>
</li>
</ul>
<li>
<a href="/wiki/WorkspaceProjectsAndModels">Workspace, Projects and Models</a>
</li>
<ul>
<li>
<a href="/wiki/NavigatingWorkspace">Navigating in the Workspace</a>
</li>
<li>
<a href="/wiki/ChangingWorkspace">Changing Workspace</a>
</li>
<li>
<a href="/wiki/ImportingModels">Importing Models</a>
</li>
</ul>
<li>
<a href="/wiki/EditingModels">Editing Models</a>
</li>
<ul>
<li>
<a href="/wiki/GamlEditorGeneralities">GAML Editor (Generalities)</a>
</li>
<li>
<a href="/wiki/GamlEditorToolbar">GAML Editor Toolbar</a>
</li>
<li>
<a href="/wiki/ValidationOfModels">Validation of Models</a>
</li>
</ul>
<li>
<a href="/wiki/RunningExperiments">Running Experiments</a>
</li>
<ul>
<li>
<a href="/wiki/LaunchingExperiments">Launching Experiments</a>
</li>
<li>
<a href="/wiki/ExperimentsUserInterface">Experiments User interface</a>
</li>
<li>
<a href="/wiki/MenusAndCommands">Menus and commands</a>
</li>
<li>
<a href="/wiki/ParametersView">Parameters view</a>
</li>
<li>
<a href="/wiki/InspectorsAndMonitors">Inspectors and monitors</a>
</li>
<li>
<a href="/wiki/Displays">Displays</a>
</li>
<li>
<a href="/wiki/BatchSpecific">Batch Specific UI</a>
</li>
<li>
<a href="/wiki/ErrorsView">Errors View</a>
</li>
</ul>
<li>
<a href="/wiki/Preferences">Preferences</a>
</li>
</ul>
<li>
<h3>
<a href="/wiki/LearnGAMLStepByStep">Learn GAML step by step</a>
</h3>
</li>
<ul>
<li>
<a href="/wiki/Introduction">Introduction</a>
</li>
<li>
<a href="/wiki/StartWithGAML">Start with GAML</a>
</li>
<ul>
<li>
<a href="/wiki/ModelOrganization">Organization of a Model</a>
</li>
<li>
<a href="/wiki/BasicProgrammingConceptsInGAML">Basic programming concepts in GAML</a>
</li>
</ul>
<li>
<a href="/wiki/ManipulateBasicSpecies">Manipulate basic Species</a>
</li>
<ul>
<li>
<a href="/wiki/GlobalSpecies">Global Species</a>
</li>
<li>
<a href="/wiki/RegularSpecies">Regular Species</a>
</li>
<li>
<a href="/wiki/DefiningActionsAndBehaviors">Defining Actions and Behaviors</a>
</li>
<li>
<a href="/wiki/InteractionBetweenAgents">Interaction between Agents</a>
</li>
<li>
<a href="/wiki/AttachingSkills">Attaching Skills</a>
</li>
<li>
<a href="/wiki/Inheritance">Inheritance</a>
</li>
</ul>
<li>
<a href="/wiki/DefiningAdvancedSpecies">Defining Advanced Species</a>
</li>
<ul>
<li>
<a href="/wiki/GridSpecies">Grid Species</a>
</li>
<li>
<a href="/wiki/GraphSpecies">Graph Species</a>
</li>
<li>
<a href="/wiki/MirrorSpecies">Mirror Species</a>
</li>
<li>
<a href="/wiki/MultiLevelArchitecture">Multi-Level Architecture</a>
</li>
</ul>
<li>
<a href="/wiki/DefiningGUIExperiment">Defining GUI Experiment</a>
</li>
<ul>
<li>
<a href="/wiki/DefiningParameters">Defining Parameters</a>
</li>
<li>
<a href="/wiki/DefiningDisplaysGeneralities">Defining Displays Generalities</a>
</li>
<li>
<a href="/wiki/DefiningCharts">Defining Charts</a>
</li>
<li>
<a href="/wiki/Defining3DDisplays">Defining 3D Displays</a>
</li>
<li>
<a href="/wiki/DefiningMonitorsAndInspectors">Defining Monitors and Inspectors</a>
</li>
<li>
<a href="/wiki/DefiningExportFiles">Defining Export files</a>
</li>
<li>
<a href="/wiki/DefiningUserInteraction">Defining User Interaction</a>
</li>
</ul>
<li>
<a href="/wiki/ExploringModels">Exploring Models</a>
</li>
<ul>
<li>
<a href="/wiki/RunSeveralSimulations">Run Several Simulations</a>
</li>
<li>
<a href="/wiki/BatchExperiments">Batch Experiments</a>
</li>
<li>
<a href="/wiki/ExplorationMethods">Exploration Methods</a>
</li>
</ul>
<li>
<a href="/wiki/OptimizingModelsSection">Optimizing Model Section</a>
</li>
<ul>
<li>
<a href="/wiki/RuntimeConcepts">Runtime Concepts</a>
</li>
<li>
<a href="/wiki/OptimizingModels">Optimizing Models</a>
</li>
</ul>
<li>
<a href="/wiki/MultiParadigmModeling">Multi-Paradigm Modeling</a>
</li>
<ul>
<li>
<a href="/wiki/ControlArchitecture">Control Architecture</a>
</li>
<li>
<a href="/wiki/Equations">Defining Equations</a>
</li>
</ul>
</ul>
<li>
<h3>
<a href="/wiki/Recipes">Recipes</a>
</h3>
</li>
<ul>
<li>
<a href="/wiki/ManipulateOSMDatas">Manipulate OSM Datas</a>
</li>
<li>
<a href="/wiki/Diffusion">Diffusion</a>
</li>
<li>
<a href="/wiki/UsingDatabase">Using Database</a>
</li>
<li>
<a href="/wiki/CallingR">Calling R</a>
</li>
<li>
<a href="/wiki/UsingFIPAACL">Using FIPA ACL</a>
</li>
<li>
<a href="/wiki/GamAnalyzer">Using GamAnalyzer</a>
</li>
<li>
<a href="/wiki/UsingBDI">Using BDI</a>
</li>
<li>
<a href="/wiki/UsingDrivingSkill">Using Driving Skill</a>
</li>
<li>
<a href="/wiki/ManipulateDates">Manipulate dates</a>
</li>
<li>
<a href="/wiki/ManipulateLight">Manipulate lights</a>
</li>
<li>
<a href="/wiki/Comodel">Using comodel</a>
</li>
<li>
<a href="/wiki/Headless-mode-for-dummies">Headless mode</a>
</li>
<li>
<a href="/wiki/FAQ">FAQ</a>
</li>
<li>
<a href="/wiki/KnownIssues">Known Issues</a>
</li>
</ul>
<li>
<h3>
<a href="/wiki/GamlReference">GAML References</a>
</h3>
</li>
<ul>
<li>
<a href="/wiki/BuiltInSpecies">Built-in Species</a>
</li>
<ul>
<li>
<a href="/wiki/AgentBuiltIn">Agent Built-in</a>
</li>
<li>
<a href="/wiki/ModelBuiltIn">Model Built-in</a>
</li>
<li>
<a href="/wiki/ExperimentBuiltIn">Experiment Built-in</a>
</li>
</ul>
<li>
<a href="/wiki/BuiltInSkills">Built-in Skills</a>
</li>
<li>
<a href="/wiki/BuiltInArchitectures">Built-in Architecture</a>
</li>
<li>
<a href="/wiki/Statements">Statements</a>
</li>
<li>
<a href="/wiki/DataTypes">Data Type</a>
</li>
<li>
<a href="/wiki/FileTypes">File Type</a>
</li>
<li>
<a href="/wiki/Expressions">Expressions</a>
</li>
<ul>
<li>
<a href="/wiki/Literals">Literals</a>
</li>
<li>
<a href="/wiki/UnitsAndConstants">Units and Constants</a>
</li>
<li>
<a href="/wiki/PseudoVariables">Pseudo Variables</a>
</li>
<li>
<a href="/wiki/VariablesAndAttributes">Variables And Attributes</a>
</li>
<li>
<a href="/wiki/OperatorsAC">Operators [A-C]</a>
</li>
<li>
<a href="/wiki/OperatorsDM">Operators [D-M]</a>
</li>
<li>
<a href="/wiki/OperatorsNZ">Operators [N-Z]</a>
</li>
</ul>
<li>
<a href="/wiki/Index">Index</a>
</li>
</ul>
<li>
<h3>
<a href="/wiki/Tutorials">Tutorials</a>
</h3>
</li>
<ul>
<li>
<a href="/wiki/PredatorPrey">Predator Prey</a>
</li>
<li>
<a href="/wiki/RoadTrafficModel">Road Traffic</a>
</li>
<li>
<a href="/wiki/ThreeD">3D Tutorial</a>
</li>
<li>
<a href="/wiki/IncrementalModel">Incremental Model</a>
</li>
<li>
<a href="/wiki/LuneraysFlu">Luneray's flu</a>
</li>
</ul>
<li>
<h3>
<a href="/wiki/PedagogicalMaterials">Pedagogical materials</a>
</h3>
</li>
<li>
<h3>
<a href="/wiki/DevelopingExtensions">Developing Extensions</a>
</h3>
</li>
<ul>
<li>
<a href="/wiki/InstallingGitVersion">Installing the GIT version</a>
</li>
<li>
<a href="/wiki/GamaArchitecture">Architecture of GAMA</a>
</li>
<li>
<a href="/wiki/DevelopingPlugins">Developing a Plugin</a>
</li>
<li>
<a href="/wiki/DevelopingSkills">Developing a Skill</a>
</li>
<li>
<a href="/wiki/DevelopingStatements">Developing a Statement</a>
</li>
<li>
<a href="/wiki/DevelopingOperators">Developing an Operator</a>
</li>
<li>
<a href="/wiki/DevelopingTypes">Developing a Type</a>
</li>
<li>
<a href="/wiki/DevelopingSpecies">Developing a Species</a>
</li>
<li>
<a href="/wiki/DevelopingControlArchitectures">Developing a Control Architecture</a>
</li>
<li>
<a href="/wiki/DevelopingIndexAnnotations">Index of annotations</a>
</li>
<li>
<a href="/wiki/DevelopingIScope">IScope</a>
</li>
<li>
<a href="/wiki/CreatingAReleaseOfGama">Creating a release of GAMA</a>
</li>
<li>
<a href="/wiki/Documentation">Documentation generation</a>
</li>
<li>
<a href="/wiki/WebsiteGeneration">Website generation</a>
</li>
</ul>
<li>
<h3>
<a href="/wiki/References">Scientific References</a>
</h3>
</li>
<li>
<h3>
<a href="/wiki/Projects">Projects using GAMA</a>
</h3>
</li>
<li>
<h3>
<a href="/wiki/TrainingSession">Training Session</a>
</h3>
</li>
<li>
<h3>
<a href="/wiki/Events">Events</a>
</h3>
</li>
<li>
<h3>
<a href="/wiki/OlderVersions">Older versions</a>
</h3>
</li>
<li>
<a href="/wiki/Event__CC15_Reorganization">Reorganization</a>
</li>
</div><div id="right">
<h3>Facebook Activities</h3>
<ul id="fbquotes">
</ul>
<h3>Commit Activities</h3>
<ul id="commitquotes">
</ul>
<h3>Issue Activities</h3>
<ul id="issuequotes">
</ul>
<h3>Gama Platform Users Activities</h3>
<ul id="googleusersquotes">
</ul>
</div><div id="content">{{ content }}</div></body></html>
