
    <!doctype html><html lang="en"><head><meta charset="utf-8"><title>{{ page.title }}</title></head>
    <body>
    {% include style.html %}
    {% include menu.html %}
    

    <div class="w3-row-padding w3-padding-64 w3-container">
        <div>
             <div class="w3-quarter" style="width:260px">
		<nav class="w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left w3-small w3-round w3-blue"  style="z-index:3;margin-left:10px" id="mySidebar">
                    <div class="w3-medium w3-text-white w3-margin-left" style="font-weight:bold"><div id="sub" class="w3-padding-small w3-bar-block w3-small">
<h4><a href="/wiki/Home">Home</a></h4><br/>
</div>      <div id='sub' class=' w3-padding-small w3-bar-block w3-small'>
<h4><a href="/wiki/Overview">Introduction</a></h4><br/>
</div>      <div id='sub' class=' w3-padding-small w3-bar-block w3-small'>
<h4><a href="/wiki/NewVersionChanges">Changes from 1.6.1 to 1.7</a></h4><br/>
</div>      <div id='sub' class=' w3-padding-small w3-bar-block w3-small'>
<h4><a href="/wiki/PlatformDocumentation">Platform</a></h4><br/>
 <a href="/wiki/InstallationAndLaunching">Installation and Launching</a><br/>
-- <a href="/wiki/Installation">Installation</a><br/>
-- <a href="/wiki/Launching">Launching GAMA</a><br/>
-- <a href="/wiki/Headless">Headless Mode</a><br/>
-- <a href="/wiki/Updating">Updating GAMA</a><br/>
-- <a href="/wiki/InstallingPlugins">Installing Plugins</a><br/>
-- <a href="/wiki/Troubleshooting">Troubleshooting</a><br/>
 <a href="/wiki/WorkspaceProjectsAndModels">Workspace, Projects and Models</a><br/>
-- <a href="/wiki/NavigatingWorkspace">Navigating in the Workspace</a><br/>
-- <a href="/wiki/ChangingWorkspace">Changing Workspace</a><br/>
-- <a href="/wiki/ImportingModels">Importing Models</a><br/>
 <a href="/wiki/EditingModels">Editing Models</a><br/>
-- <a href="/wiki/GamlEditorGeneralities">GAML Editor (Generalities)</a><br/>
-- <a href="/wiki/GamlEditorToolbar">GAML Editor Toolbar</a><br/>
-- <a href="/wiki/ValidationOfModels">Validation of Models</a><br/>
 <a href="/wiki/RunningExperiments">Running Experiments</a><br/>
-- <a href="/wiki/LaunchingExperiments">Launching Experiments</a><br/>
-- <a href="/wiki/ExperimentsUserInterface">Experiments User interface</a><br/>
-- <a href="/wiki/MenusAndCommands">Menus and commands</a><br/>
-- <a href="/wiki/ParametersView">Parameters view</a><br/>
-- <a href="/wiki/InspectorsAndMonitors">Inspectors and monitors</a><br/>
-- <a href="/wiki/Displays">Displays</a><br/>
-- <a href="/wiki/BatchSpecific">Batch Specific UI</a><br/>
-- <a href="/wiki/ErrorsView">Errors View</a><br/>
 <a href="/wiki/Preferences">Preferences</a><br/>
 <br/>
</div>      <div id='sub' class=' w3-padding-small w3-bar-block w3-small'>
<h4><a href="/wiki/LearnGAMLStepByStep">Learn GAML step by step</a></h4><br/>
 <a href="/wiki/Introduction">Introduction</a><br/>
 <a href="/wiki/StartWithGAML">Start with GAML</a><br/>
-- <a href="/wiki/ModelOrganization">Organization of a Model</a><br/>
-- <a href="/wiki/BasicProgrammingConceptsInGAML">Basic programming concepts in GAML</a><br/>
 <a href="/wiki/ManipulateBasicSpecies">Manipulate basic Species</a><br/>
-- <a href="/wiki/GlobalSpecies">Global Species</a><br/>
-- <a href="/wiki/RegularSpecies">Regular Species</a><br/>
-- <a href="/wiki/DefiningActionsAndBehaviors">Defining Actions and Behaviors</a><br/>
-- <a href="/wiki/InteractionBetweenAgents">Interaction between Agents</a><br/>
-- <a href="/wiki/AttachingSkills">Attaching Skills</a><br/>
-- <a href="/wiki/Inheritance">Inheritance</a><br/>
 <a href="/wiki/DefiningAdvancedSpecies">Defining Advanced Species</a><br/>
-- <a href="/wiki/GridSpecies">Grid Species</a><br/>
-- <a href="/wiki/GraphSpecies">Graph Species</a><br/>
-- <a href="/wiki/MirrorSpecies">Mirror Species</a><br/>
-- <a href="/wiki/MultiLevelArchitecture">Multi-Level Architecture</a><br/>
 <a href="/wiki/DefiningGUIExperiment">Defining GUI Experiment</a><br/>
-- <a href="/wiki/DefiningParameters">Defining Parameters</a><br/>
-- <a href="/wiki/DefiningDisplaysGeneralities">Defining Displays Generalities</a><br/>
-- <a href="/wiki/DefiningCharts">Defining Charts</a><br/>
-- <a href="/wiki/Defining3DDisplays">Defining 3D Displays</a><br/>
-- <a href="/wiki/DefiningMonitorsAndInspectors">Defining Monitors and Inspectors</a><br/>
-- <a href="/wiki/DefiningExportFiles">Defining Export files</a><br/>
-- <a href="/wiki/DefiningUserInteraction">Defining User Interaction</a><br/>
 <a href="/wiki/ExploringModels">Exploring Models</a><br/>
-- <a href="/wiki/RunSeveralSimulations">Run Several Simulations</a><br/>
-- <a href="/wiki/BatchExperiments">Batch Experiments</a><br/>
-- <a href="/wiki/ExplorationMethods">Exploration Methods</a><br/>
 <a href="/wiki/OptimizingModelsSection">Optimizing Model Section</a><br/>
-- <a href="/wiki/RuntimeConcepts">Runtime Concepts</a><br/>
-- <a href="/wiki/OptimizingModels">Optimizing Models</a><br/>
 <a href="/wiki/MultiParadigmModeling">Multi-Paradigm Modeling</a><br/>
-- <a href="/wiki/ControlArchitecture">Control Architecture</a><br/>
-- <a href="/wiki/Equations">Defining Equations</a><br/>
 <br/>
</div>      <div id='sub' class=' w3-padding-small w3-bar-block w3-small'>
<h4><a href="/wiki/Recipes">Recipes</a></h4><br/>
 <a href="/wiki/ManipulateOSMDatas">Manipulate OSM Datas</a><br/>
 <a href="/wiki/Diffusion">Diffusion</a><br/>
 <a href="/wiki/UsingDatabase">Using Database</a><br/>
 <a href="/wiki/CallingR">Calling R</a><br/>
 <a href="/wiki/UsingFIPAACL">Using FIPA ACL</a><br/>
 <a href="/wiki/GamAnalyzer">Using GamAnalyzer</a><br/>
 <a href="/wiki/UsingBDI">Using BDI</a><br/>
 <a href="/wiki/UsingDrivingSkill">Using Driving Skill</a><br/>
 <a href="/wiki/ManipulateDates">Manipulate dates</a><br/>
 <a href="/wiki/ManipulateLight">Manipulate lights</a><br/>
 <a href="/wiki/Comodel">Using comodel</a><br/>
 <a href="/wiki/Headless-mode-for-dummies">Headless mode</a><br/>
 <a href="/wiki/FAQ">FAQ</a><br/>
 <a href="/wiki/KnownIssues">Known Issues</a><br/>
 <br/>
</div>      <div id='sub' class=' w3-padding-small w3-bar-block w3-small'>
<h4><a href="/wiki/GamlReference">GAML References</a></h4><br/>
 <a href="/wiki/BuiltInSpecies">Built-in Species</a><br/>
-- <a href="/wiki/AgentBuiltIn">Agent Built-in</a><br/>
-- <a href="/wiki/ModelBuiltIn">Model Built-in</a><br/>
-- <a href="/wiki/ExperimentBuiltIn">Experiment Built-in</a><br/>
 <a href="/wiki/BuiltInSkills">Built-in Skills</a><br/>
 <a href="/wiki/BuiltInArchitectures">Built-in Architecture</a><br/>
 <a href="/wiki/Statements">Statements</a><br/>
 <a href="/wiki/DataTypes">Data Type</a><br/>
 <a href="/wiki/FileTypes">File Type</a><br/>
 <a href="/wiki/Expressions">Expressions</a><br/>
-- <a href="/wiki/Literals">Literals</a><br/>
-- <a href="/wiki/UnitsAndConstants">Units and Constants</a><br/>
-- <a href="/wiki/PseudoVariables">Pseudo Variables</a><br/>
-- <a href="/wiki/VariablesAndAttributes">Variables And Attributes</a><br/>
-- <a href="/wiki/OperatorsAC">Operators [A-C]</a><br/>
-- <a href="/wiki/OperatorsDM">Operators [D-M]</a><br/>
-- <a href="/wiki/OperatorsNZ">Operators [N-Z]</a><br/>
 <a href="/wiki/Index">Index</a><br/>
 <br/>
</div>      <div id='sub' class=' w3-padding-small w3-bar-block w3-small'>
<h4><a href="/wiki/Tutorials">Tutorials</a></h4><br/>
 <a href="/wiki/PredatorPrey">Predator Prey</a><br/>
 <a href="/wiki/RoadTrafficModel">Road Traffic</a><br/>
 <a href="/wiki/ThreeD">3D Tutorial</a><br/>
 <a href="/wiki/IncrementalModel">Incremental Model</a><br/>
 <a href="/wiki/LuneraysFlu">Luneray's flu</a><br/>
 <br/>
</div>      <div id='sub' class=' w3-padding-small w3-bar-block w3-small'>
<h4><a href="/wiki/PedagogicalMaterials">Pedagogical materials</a></h4><br/>
 <br/>
</div>      <div id='sub' class=' w3-padding-small w3-bar-block w3-small'>
<h4><a href="/wiki/DevelopingExtensions">Developing Extensions</a></h4><br/>
 <a href="/wiki/InstallingGitVersion">Installing the GIT version</a><br/>
 <a href="/wiki/GamaArchitecture">Architecture of GAMA</a><br/>
 <a href="/wiki/DevelopingPlugins">Developing a Plugin</a><br/>
 <a href="/wiki/DevelopingSkills">Developing a Skill</a><br/>
 <a href="/wiki/DevelopingStatements">Developing a Statement</a><br/>
 <a href="/wiki/DevelopingOperators">Developing an Operator</a><br/>
 <a href="/wiki/DevelopingTypes">Developing a Type</a><br/>
 <a href="/wiki/DevelopingSpecies">Developing a Species</a><br/>
 <a href="/wiki/DevelopingControlArchitectures">Developing a Control Architecture</a><br/>
 <a href="/wiki/DevelopingIndexAnnotations">Index of annotations</a><br/>
 <a href="/wiki/DevelopingIScope">IScope</a><br/>
 <a href="/wiki/CreatingAReleaseOfGama">Creating a release of GAMA</a><br/>
 <a href="/wiki/Documentation">Documentation generation</a><br/>
 <a href="/wiki/WebsiteGeneration">Website generation</a><br/>
 <br/>
</div>      <div id='sub' class=' w3-padding-small w3-bar-block w3-small'>
<h4><a href="/wiki/References">Scientific References</a></h4><br/>
 <br/>
</div>      <div id='sub' class=' w3-padding-small w3-bar-block w3-small'>
<h4><a href="/wiki/Projects">Projects using GAMA</a></h4><br/>
 <br/>
</div>      <div id='sub' class=' w3-padding-small w3-bar-block w3-small'>
<h4><a href="/wiki/TrainingSession">Training Session</a></h4><br/>
 <br/>
</div>      <div id='sub' class=' w3-padding-small w3-bar-block w3-small'>
<h4><a href="/wiki/Events">Events</a></h4><br/>
 <br/>
</div>      <div id='sub' class=' w3-padding-small w3-bar-block w3-small'>
<h4><a href="/wiki/OlderVersions">Older versions</a></h4><br/>
 <br/>
</div>      <div id='sub' class=' w3-padding-small w3-bar-block w3-small'>
<h4> Coding Camp</h4><br/>
 <a href="/wiki/Event__CC15_Reorganization">Reorganization</a><br/>
</div></div></nav></div>
    <div class="w3-threequarter">
        {{ content }}
    </div>
    </div>
    </div>
    </body></html>
